{{define "core/main"}}
    <script>
        function AdminBuilder() {
            this.RESPONSE_FIELD = 'adminBuilder';

            this.idCounters = [];
            this.dataHandlerStorage = [];
            this.actionLoadingStatuses = {};
            this.jsHandlers = {};
            this.eventHandlers = {};
            this.actionUpdateDataHandlers = {};
            this.fieldsForShown = {
                {{ range $fieldName, $content := .shownFields }}
                    '{{ $fieldName }}': "{{ $content }}",
                {{end}}
            };
            this.samples = {
                {{ range $fieldName, $content := .templatesList }}
                    '{{ $fieldName }}': "{{ JSEscape $content }}",
                {{end}}
            };

            this.setDataHandler = function(id, callback) {
                this.dataHandlerStorage[id] = callback;
            }

            this.getDataHandler = function(id) {
                return this.dataHandlerStorage[id];
            }
            
            this.setActionLoadingStatus = function (actionName, status) {
                this.actionLoadingStatuses[actionName] = status;
                if (status) {
                    if (this.eventHandlers.hasOwnProperty(actionName)) {
                        let handlers = this.eventHandlers[actionName];
                        for (let i in handlers) {
                            handlers[i]();
                        }
                    }
                    if (this.isAllActionLoaded() && this.eventHandlers['allActionLoadedHandler'] instanceof Object) {
                        let generalHandlers = this.eventHandlers['allActionLoadedHandler'];
                        for (let i in generalHandlers) {
                            generalHandlers[i]();
                        }
                    }
                }
            }

            this.setActionUpdateDataHandler = function (actionName, handler) {
                this.actionUpdateDataHandlers[actionName] = handler;
            }

            this.updateActionData = function (actionName) {
                if (this.actionUpdateDataHandlers[actionName] instanceof Object) {
                    return this.actionUpdateDataHandlers[actionName]();
                }
                return false;
            }


            this.addAllActionLoadedHandler = function (handler) {
                if (!this.eventHandlers.hasOwnProperty('allActionLoadedHandler')) {
                    this.eventHandlers['allActionLoadedHandler'] = [];
                }
                this.eventHandlers['allActionLoadedHandler'].push(handler);
            }

            this.isAllActionLoaded = function () {
                for (let i in this.actionLoadingStatuses) {
                    if (!this.actionLoadingStatuses[i]) {
                        return false;
                    }
                }
                return true;
            }

            this.getAffectedElement = function (buttonId) {
                let regex = new RegExp(/(.+)_([^_]+)\-(\d+)$/i);
                let partFieldId = buttonId.replace(regex, '$1');
                let selectors = [
                    'tr[name^="' + partFieldId + '"]',
                    '.panel',
                ];
                for (let i in selectors) {
                    if ($('#' + buttonId).parents(selectors[i]).length) {
                        return $('#' + buttonId).parents(selectors[i])[0];
                    }
                }
                return null;
            }

            this.getDataForFieldsByButtonId = function (fields, buttonId) {
                let regex = new RegExp(/(.+_)([^_]+)\-(\d+)$/i);
                let fieldsData = {}
                for (i in fields) {
                    let fieldId = buttonId.replace(regex, '$1' + fields[i] + '-$3');
                    let handler = this.getDataHandler(fieldId);
                    if (typeof handler === 'undefined') {
                        switch ($('#' + fieldId)[0].tagName) {
                            case 'TABLE':
                                $('input[id^="' + fieldId + '"]').each(function (index, obj) {
                                    let fullId = $(obj).attr('id');
                                    let fieldName = fullId.replace(regex, '$2');
                                    let fieldCounter = fullId.replace(regex, '$3');
                                    fieldsData[fieldName + '[' + fieldCounter + ']'] = $(obj).val()
                                });
                                break;
                            default:
                                if (fields instanceof Array) {
                                    fieldsData[fields[i]] = $('#' + fieldId).val();
                                } else {
                                    fieldsData[i] = $('#' + fieldId).val();
                                }
                        }
                    } else {
                        if (fields instanceof Array) {
                            fieldsData[fields[i]] = handler();
                        } else {
                            fieldsData[i] = handler();
                        }
                    }
                }
                return fieldsData;
            }

            this.getFullIdsForFieldsByButtonId = function (fields, buttonId) {
                let regex = new RegExp(/(.+_)([^_]+)\-(\d+)$/i);
                let fieldsIds = {}
                for (i in fields) {
                    let fieldId = buttonId.replace(regex, '$1' + fields[i] + '-$3');
                    fieldsIds[fields[i]] = fieldId;
                }
                return fieldsIds;
            }

            this.transformToHtml = function(data, fullId, fieldsDescription, withLoadDataScript) {
                withLoadDataScript = withLoadDataScript || false;
                let transformOutput = '';
                let regex = new RegExp(/^([^_]+).*?([^_]+)\-(\d+)$/i);
                let actionName = regex.exec(fullId)[1];
                let id = regex.exec(fullId)[2];
                let order = regex.exec(fullId)[3];
                let actionNameAndId = actionName + '_' + id;
                if (fieldsDescription[id] !== undefined && fieldsDescription[id]['type'] == 'array') {
                    let fieldsNameList = fieldsDescription[id]['fields'];
                    for (let key in data) {
                        transformOutput += '<tr name="' + fullId + '_tr-' + key + '">';
                        for (let i in fieldsNameList) {
                            let key2 = fieldsNameList[i];
                            transformOutput += '<td name="' + fullId + '_tr-' + key + '_td-' + i + '">';
                            // console.log(key2);
                            // console.log(transformOutput);
                            if (key2 instanceof Object) {
                                let subFieldsNameList = key2;
                                let items = [];
                                for (let j in subFieldsNameList) {
                                    let key3 = subFieldsNameList[j];
                                    let partOfId = fullId + '_' + key3;
                                    if (typeof this.idCounters[partOfId] === 'undefined') {
                                        this.idCounters[partOfId] = 0;
                                    }
                                    let newFullId = partOfId + '-' + this.idCounters[partOfId] + '';
                                    this.idCounters[partOfId]++;
                                    items.push(this.transformToHtml(data[key][key3], newFullId, fieldsDescription, withLoadDataScript));
                                }
                                transformOutput += items.join(' / ');
                            } else {
                                let partOfId = fullId + '_' + key2;
                                if (typeof this.idCounters[partOfId] === 'undefined') {
                                    this.idCounters[partOfId] = 0;
                                }
                                let newFullId = partOfId + '-' + this.idCounters[partOfId] + '';
                                this.idCounters[partOfId]++;
                                transformOutput += this.transformToHtml(data[key][key2], newFullId, fieldsDescription, withLoadDataScript);
                            }
                            transformOutput += '</td>';
                        }
                        transformOutput += '</tr>';
                    }
                } else if (fieldsDescription[id] !== undefined && fieldsDescription[id]['type'] == 'union') {
                    let fieldsNameList = fieldsDescription[id]['fields'];
                    for (let i in fieldsNameList) {
                        let key = fieldsNameList[i];
                        transformOutput += '<div name="' + fullId + '_' + key + '">';
                        if (key instanceof Object) {
                            let subFieldsNameList = key;
                            let items = [];
                            for (let j in subFieldsNameList) {
                                let key2 = subFieldsNameList[j];
                                let partOfId = fullId + '_' + key2;
                                if (typeof this.idCounters[partOfId] === 'undefined') {
                                    this.idCounters[partOfId] = 0;
                                }
                                let newFullId = partOfId + '-' + this.idCounters[partOfId] + '';
                                this.idCounters[partOfId]++;
                                items.push(this.transformToHtml(data[key2], newFullId, fieldsDescription, withLoadDataScript));
                            }
                            transformOutput += items.join(' ');
                        } else {
                            let partOfId = fullId + '_' + key;
                            if (typeof this.idCounters[partOfId] === 'undefined') {
                                this.idCounters[partOfId] = 0;
                            }
                            let newFullId = partOfId + '-' + this.idCounters[partOfId] + '';
                            this.idCounters[partOfId]++;
                            if (data.hasOwnProperty(key)) {
                                transformOutput += this.transformToHtml(data[key], newFullId, fieldsDescription, withLoadDataScript);
                            } else {
                                transformOutput += this.transformToHtml(data, newFullId, fieldsDescription, withLoadDataScript);
                            }
                        }
                        transformOutput += '</div>';
                    }
                } else  if (fieldsDescription[id] !== undefined && fieldsDescription[id]['type'] == 'tabs') {
                    let fieldsNameList = fieldsDescription[id]['fields'];
                    for (let i in fieldsNameList) {
                        let key = fieldsNameList[i];
                        transformOutput += '<div class="tab-pane fade" id="' + actionName + '-' + i + '" name="' + fullId + '_' + key + '">';
                        transformOutput += '<h4>' + fieldsDescription[id]['_columnTitles'][i] + '</h4>';
                        let partOfId = fullId + '_' + key;
                        if (typeof this.idCounters[partOfId] === 'undefined') {
                            this.idCounters[partOfId] = 0;
                        }
                        let newFullId = partOfId + '-' + this.idCounters[partOfId] + '';
                        this.idCounters[partOfId]++;
                        if (data.hasOwnProperty(key)) {
                            let newId = regex.exec(newFullId)[2];
                            if (fieldsDescription[newId] !== undefined && fieldsDescription[newId]['type'] == 'array') {
                                let cachedSnippedKey = fieldsDescription[newId]['_fullFieldName'];
                                transformOutput += this.samples[cachedSnippedKey].replace(new RegExp('\\{\\{\\s*\\._value_' + actionNameAndId + '\\s*\\}\\}', 'ig'), data)
                                        .replace(new RegExp('\\{\\{\\s*\\._id_' + actionNameAndId + '\\s*\\}\\}', 'ig'), fullId)
                                        .replace(new RegExp('<tbody class="dynamic-content">', 'igm'), '<tbody class="dynamic-content">' + this.transformToHtml(data[key], newFullId, fieldsDescription, false));
                                adminBuilder.addAllActionLoadedHandler(() => {
                                    if ($('#' + cachedSnippedKey).DataTable()) {
                                        $('#' + cachedSnippedKey).DataTable().draw();
                                    } else {
                                        $('#' + cachedSnippedKey).DataTable({
                                            responsive: true,
                                        });
                                    }
                                });
                            } else {
                                transformOutput += this.transformToHtml(data[key], newFullId, fieldsDescription, withLoadDataScript);
                            }
                        } else {
                            transformOutput += this.transformToHtml(data, newFullId, fieldsDescription, withLoadDataScript);
                        }
                        transformOutput += '</div>';
                    }
                } else {
                    //let cachedSnippedKey = (fieldsDescription[id]['_withLoadDataScript'] ? 'withLoadDataScript:' : '') + fieldsDescription[id]['_fullFieldName'];
                    //let cachedSnippedKey = (this.fieldsForShown.hasOwnProperty(fieldsDescription[id]['_fullFieldName']) ? 'withLoadDataScript:' : '') + fieldsDescription[id]['_fullFieldName'];
                    let cachedSnippedKey = (withLoadDataScript ? 'withLoadDataScript:' : '') + fieldsDescription[id]['_fullFieldName'];
                    if (this.samples.hasOwnProperty(cachedSnippedKey)) {
                        transformOutput += this.samples[cachedSnippedKey].replace(new RegExp('\\{\\{\\s*\\._value_' + actionNameAndId + '\\s*\\}\\}', 'ig'), data)
                                .replace(new RegExp('\\{\\{\\s*\\._id_' + actionNameAndId + '\\s*\\}\\}', 'ig'), fullId);
                    } else {
                        transformOutput += data;
                    }
                }
                return transformOutput;
            }

            /**
             * Для обновления состояния полей
             */
            this.renderPage = function() {
                $('select').each(function (index, obj) {
                    let value = $(obj).data('value');
                    $(obj).val(value);
                });
            }
        }

        let adminBuilder = new AdminBuilder();

        /**
         * JS обработчики
         */
        adminBuilder.jsHandlers = {
            'timeMachine': function (dateTimeFieldId) {
                let time = $('#' + dateTimeFieldId).val();
                if (time.length) {
                    var minutes = 60; // Время хранения кук
                    $.cookie('time_machine', time, {expires: minutes * 60 * 1000, path: '/'});
                    alert('Машина времени активирована');
                } else {
                    $.removeCookie('time_machine', {path: '/'});
                    alert('Машина времени деактивирована');
                }
            },
        }
    </script>
    {{template "pageContent" .}}
{{end}}