{{define "core/tabs"}}
    {{ if ._withLoadDataScript }}
    <script>
        $(function() {
            /*                adminBuilder.setDataHandler('{{ ._fullFieldName }}', function () {
                        return "test";
                    });*/

            adminBuilder.setActionUpdateDataHandler('{{ ._actionName }}', function () {
                let fieldsDescription = {{ JSON ._fieldsDescription }};
                let params = Url.parseQuery(Url.getQuery(location.href));
                let preparedParams = [];
                for (let i in params) {
                    preparedParams['glob_' + i] = params[i];
                }

                let prepareList = [];
                preparedParams['_ajax'] = 1;
                for (let i in preparedParams) {
                    prepareList.push(i + '=' + preparedParams[i]);
                }
                $.ajax({
                    url: "{{ URL ._initUrl }}",
                    method: "POST",
                    data: prepareList.join('&'),
                    dataType: "json",
                    success: function (data) {
                        data = data['data'];
                        if (data[adminBuilder.RESPONSE_FIELD] === undefined || data[adminBuilder.RESPONSE_FIELD]['status'] === undefined || data[adminBuilder.RESPONSE_FIELD]['status'] != 1) { // Успех
                            var buff = adminBuilder.transformToHtml(data, '{{ ._fullFieldName }}', fieldsDescription);
                            $('#{{ ._fullFieldName }} > .dynamic-content').empty();
                            $('#{{ ._fullFieldName }} > .dynamic-content').append(buff);
                            let menuItem = $('#{{ ._fullFieldName }} > .nav .active>a');
                            if (menuItem.length) {
                                $('#{{ ._fullFieldName }} > .dynamic-content ' + menuItem.attr('href')).addClass("active in");
                            } else {
                                $('#{{ ._fullFieldName }} > .dynamic-content .tab-pane:first').addClass("active in");
                            }
                            adminBuilder.setActionLoadingStatus('{{ ._actionName }}', true);
                        } else { // Неудача
                            console.log(data);
                        }
                    }
                });
            });
            adminBuilder.updateActionData('{{ ._actionName }}');
        });
    </script>
    {{end}}
{{end}}