{{define "stories/index"}}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="{{ .pageCharset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ .pageCaption }}</title>

    <?= Base_Renderer::getInstance()->styleFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/bootstrap/css/bootstrap.min.css'); ?>
    <?= Base_Renderer::getInstance()->styleFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/metisMenu/metisMenu.min.css'); ?>
    <?= Base_Renderer::getInstance()->styleFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/datatables-plugins/dataTables.bootstrap.css'); ?>
    <?= Base_Renderer::getInstance()->styleFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/datatables-responsive/dataTables.responsive.css'); ?>
    <?= Base_Renderer::getInstance()->styleFile(STATIC_TYPE_BASE, '/app/stories/admin/dist/css/sb-admin-2.css'); ?>
    <?= Base_Renderer::getInstance()->styleFile(STATIC_TYPE_BASE, '/app/stories/admin/dist/css/main.css'); ?>
    <?= Base_Renderer::getInstance()->styleFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/font-awesome/css/font-awesome.min.css'); ?>

    <?= @Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/js/underscore-min.js') ?>
    <?= @Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE,'/js/backbone-min.js') ?>
    <!-- jQuery 2.1.3 -->
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/js/jquery-2.1.3.min.js') ?>
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/js/init.js') ?>
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/js/lang/ru.js') ?>
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/js/new/base.js') ?>

    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/bootstrap/js/bootstrap.min.js'); ?>
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/metisMenu/metisMenu.min.js'); ?>
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/datatables/js/jquery.dataTables.min.js'); ?>
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/datatables-plugins/dataTables.bootstrap.min.js'); ?>
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/app/stories/admin/vendor/datatables-responsive/dataTables.responsive.js'); ?>
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/app/stories/admin/dist/js/url.js'); ?>

    <!-- jQuery Cookie -->
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/js/libs/admin_lte/plugins/jquerycookie/jquery.cookie.js') ?>
    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/js/libs/jquery.ajax.form.js') ?>
</head>
<body>
    <div id="wrapper">
            <div class="navbar-default sidebar" role="navigation" style="position: fixed; margin-top: 0px;">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {{ range $sectionName, $sectionContent := .menuSections }}
                            <li>
                                {{ if checkType $sectionContent "map[string]string" }}
                                    <a href="#"><i class="fa fa-folder fa-fw"></i> {{ $sectionName }}<span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">

                                    {{ range $actionName, $actionTitle := $sectionContent }}
                                        <li>
                                            <a href="{{ $actionName }}"> {{ $actionTitle }}</a>
                                        </li>
                                    {{ end }}
                                    </ul>
                                {{ else }}
                                    <a href="#{{ $sectionContent }}"><i class="fa fa-edit fa-fw"></i> {{ $sectionName }}</a>
                                {{ end }}
                            </li>
                        {{end}}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

        <div id="page-wrapper" style="display: none;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="navbar-brand" style="margin: 5px 0px">{{ .pageCaption }}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {{template "bodyContent" .}}
        </div>
        <script>
            adminBuilder.setAllActionLoadedHandler(function () {
                $('#page-wrapper').fadeIn();
            });
        </script>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <?= Base_Renderer::getInstance()->scriptFile(STATIC_TYPE_BASE, '/app/stories/admin/dist/js/sb-admin-2.js'); ?>
</body>
</html>
{{end}}